/* line 5, ../../app/assets/stylesheets/users.css.scss */
.siging {
  margin-top: 50px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

/* line 12, ../../app/assets/stylesheets/users.css.scss */
.txt_input {
  height: 50px;
  width: 400px;
  border: 0px;
  border-radius: 2px;
  font-size: 20px;
}

/* line 20, ../../app/assets/stylesheets/users.css.scss */
.input_holder {
  margin-bottom: 20px;
}

/* line 25, ../../app/assets/stylesheets/users.css.scss */
.remember_me {
  display: inline-block;
  margin-bottom: 20px;
}

/* line 30, ../../app/assets/stylesheets/users.css.scss */
.submit_button {
  width: 400px;
  height: 50px;
  border: 1px solid #3366FF;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#33ccff), to(#3366ff));
  margin-bottom: 2em;
}

/* line 42, ../../app/assets/stylesheets/users.css.scss */
.submit_button:hover {
  border: 1px solid #3333FF;
}
