/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
	background:url('fabric_plaid.png');
	font-family: Arial, Helvetica, sans-serif;
	color:#838B8B;
}

.content{
	width:100%;
}

.nav{
	width:400px;
	float:right;
	margin-bottom:1em;
	clear:both;
	margin-right:1em;
}

li{
	display:inline;
	float:right;
	margin-right:0.5em;
	margin-left:0.5em;
}

.notice{
	width:400px;
    margin-right:auto;
	margin-left:auto;
	color:#FF4040;
	clear:both;
}

a{
	color:#FF4040;
	text-decoration:none;
}

a:visited{
	color:#FF4040;
}
