// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shared_links{
	font-size:11px;
}

.siging{
	margin-top:50px;
	width:400px;
	margin-right:auto;
	margin-left:auto;
}

.txt_input{
	height:50px;
	width:400px;
	border:0px;
	border-radius:2px;
	font-size:20px;
}

.input_holder{
	margin-bottom:20px;

}

.remember_me{
	display:inline-block;
	margin-bottom:20px;
}

.submit_button{
	width:400px;
	height:50px;
	border:1px solid #3366FF;
	border-radius:2px;
	color:white; 
	font-size:20px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#33CCFF), to(#3366FF));
	margin-bottom:2em;
}

.submit_button:hover{
	border:1px solid #3333FF;
}

