// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.txt_input{
	height:50px;
	width:400px;
	border:0px;
	border-radius:2px;
	font-size:20px;
}

.input_holder{
	margin-bottom:20px;

}

.remember_me{
	display:inline-block;
	margin-bottom:20px;
}

.submit_button{
	width:400px;
	height:40px;
	border:1px solid #FF4040;
	border-radius:2px;
	color:#FF4040; 
	font-size:20px;
	background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 99%,#f5f7f9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(99%,#d7dee3), color-stop(100%,#f5f7f9));
	margin-bottom:2em;
}
